@font-face {
  font-family: "Twemoji Mozilla";
  src: url("/fonts/TwemojiMozilla.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+1F000-1FAFF, U+2600-27BF, U+2B00-2BFF, U+2190-21FF, U+2300-23FF, U+1F1E6-1F1FF, U+FE0E, U+FE0F;
}
